.not-found-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
}
@media (min-width: 768px) {
  .not-found-bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.not-found-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
  text-align: center;
}
